# Dependencies
node_modules/

# Angular
.angular/
dist/
coverage/

# NestJS
backend/dist/

# Environment variables
.env
.env.*
!.env.example

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*